@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap");

.spider {
  animation-name: spiderMovement;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes spiderMovement {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
